/*Online Fonts*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('https://fonts.gstatic.com/s/roboto/v18/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url('https://fonts.gstatic.com/s/roboto/v18/mnpfi9pxYH-Go5UiibESIltXRa8TVwTICgirnJhmVJw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/*Global Styles*/
html{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: white;
  width: 100%;
  height: 100%;
}

/*Header Styles*/
header{
  display: flex;
  align-items: center;
  height: 64px;
  margin: 0px;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
  height: 32px;
  width: 72%;
}

.logo h2 strong{
  font-weight: 900;
}

.logo img{
  height: 32px;
  width: 32px;
}

/*Navagation*/
.top_nav{
  display: flex;
  width: auto;
  height: 32px;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  margin: 24px auto;
}
.top_nav li{
  padding: 0px 16px;
}

.top_nav_mobile{
  display: none;
}

/*Body Styles */
/* 1st Banner*/

/*Articles Section*/

/*Start Learning Section */

/*Thesis Section*/

/*Footer Styles */
/*Copyright */

/*Footer Navigation*/
