/*Online Fonts*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('https://fonts.gstatic.com/s/roboto/v18/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url('https://fonts.gstatic.com/s/roboto/v18/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url('https://fonts.gstatic.com/s/roboto/v18/mnpfi9pxYH-Go5UiibESIltXRa8TVwTICgirnJhmVJw.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/*Global Styles*/
html{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: white;
  width: 100%;
}

/*Header Styles*/
header{
  display: flex;
  position: fixed;
  background-color: white;
  width: 100%;
  align-items: center;
  height: 64px;
  z-index: 1;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.2rem;
  height: 32px;
  width: 72%;
}

.logo h2 strong{
  font-weight: 900;
}

.logo img{
  height: 32px;
  width: 32px;
}

/*Navagation*/
.top_nav{
  display: flex;
  width: auto;
  height: 32px;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  margin: 24px auto;
}
.top_nav li{
  padding: 0px 16px;
}

.top_nav_mobile{
  display: none;
}

/*Body Styles */
/*Banner*/
.banner{
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 96px 24px 32px 24px;
  width: 100%;
}

.banner img{
  width: 60%;
  padding-right: 24px;
}

.banner_text{
  position: relative;
  line-height: 1.3;
  margin: auto 0px;
}

.banner_text h2{
  font-weight: 900;
  font-size: 3rem;
}

.banner_text p{
  font-size: 1.2rem;
  font-weight: 500;
}

#button{
  text-align: center;
  background-color: #1AA3FF;
  padding: 8px 0px;
  width: 50%;
}
/*Articles Section*/
.articles{
  display: flex;
  align-items: flex-start;
}

#main_article{
  width: 60%;
  margin: 32px 24px;
  flex-flow: column wrap;
  word-wrap: normal;
  align-items: flex-start;
}

#main_article img{
  width: 75%;
}

.articles_side{
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  justify-content: flex-end;
  float: right;
  width: 40%;
}

.side_article{
  display: flex;
  flex-flow: wrap;
  width: 100%;
  margin: 8px 0px;
}

.side_article img{
  width: 34%;
  height: 200px;
  margin-right: 8px;
}

.side_article_text{
  font-family: 'Roboto-Regular', sans-serif;
  width: 64%;
}

.side_article_text h3{
  font-weight: bold;
  font-size: 1.4rem;
}

.side_article_text a{
  color: #1A66FF;
}
.mobile_pics{
  display: none;
}
/*Start Learning Section */
.courses{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 32px 72px;
}

.title{
  font-family: 'Roboto-Regular',sans-serif;
  font-weight: bolder;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  margin: 0px auto 32px auto;
}

.course_item{
  display: flex;
  flex-flow: column wrap;
  width: 25%;
  margin: 16px;
  padding: 16px;
}

.course_item img{
  height: auto;
}

.course_item h4{
  font-weight: bold;
  font-size: 1.2rem;
  margin: 16px 0px 8px 0px;
}

.course_item span{
  margin: 8px 0px;
}

.course_item h4,
.course_item span,
.course_item p{
  font-family: 'Roboto-Regular',sans-serif;
}
/*Thesis Section*/
.thesis{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: 24px;
  margin-bottom: 32px;
}

.main_thesis{
  display: flex;
  flex-flow: column wrap;
  height: auto;
  width: 59%;
  margin-right: 12px;
}

.main_thesis video{
  width: 100%;
  height: 500px;
}

.main_thesis h5{
  font-size: 1.5rem;
  margin-bottom: 8px;
  font-weight: bold;
}

.main_thesis h5,
.main_thesis p{
  font-family: 'Roboto-Regular', sans-serif;
}

.side_thesis{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 39%;
  height: 575px;
  margin-left: 12px;
}

.side_thesis_item{
  display: flex;
  padding: 16px;
}

.side_thesis_item img{
  width: 35%;
  height: 125px;
}

.side_thesis_text{
  font-family: 'Roboto-Regular', sans-serif;
  width: 65%;
  margin-left: 16px;
  word-wrap: normal;
}

.side_thesis_text h4{
  font-weight: bold;
}
/*Footer Styles */
/*Copyright */

/*Footer Navigation*/
